.modal-wrapper {
  font-size: 17px;
  line-height: 1.6;
  display: none;
  height: 100vh;
  align-items: center;
  justify-content: center;
}

.modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.5);
}

.modal-content {
  margin: 10% auto;
  width: 60%;
  box-shadow: 0 5px 8px 0 rgba(0, 0, 0, 0.2), 0 7px 20px 0 rgba(0, 0, 0, 0.17);
  animation-name: modalopen;
  animation-duration: 1s;
}

.modal-header h2 {
  margin: 0;
}

.modal-header {
  background: $secondary-color;
  padding: 15px;
  color: #fff;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

.modal-body {
  color: #000;
  padding: 10px 20px;
  background: #fff;
}


.close {
  color: #ccc;
  float: right;
  font-size: 30px;
  color: #fff;
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

@keyframes modalopen {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.phone {
  border: none;
  filter: hue-rotate(160deg);
  padding: 6px;
  color: lighten($color: $primary-color, $amount: 80);
  border-radius: 99999px;
  background: darken($color: $secondary-color, $amount: 40);
}
