.see-my-work {
  position: absolute;
  padding: 10px 30px;
  right: 130px;
  top: 35px;
  color: lighten($secondary-color, 30);
  text-decoration: none;
  text-transform: uppercase;
  letter-spacing: 2px;
  overflow: hidden;
  font-size: 15px;
  transition: 0.5s;

  &:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 10px;
    height: 10px;
    border-top: 2px solid $secondary-color;
    border-left: 2px solid $secondary-color;
    transition: 0.5s;
    transition-delay: 0.5s;
  }

  &:hover:before {
    width: 100%;
    height: 100%;
    transition-delay: 0s;
  }
  &:after {
    content: "";
    position: absolute;
    bottom: 0;
    right: 0;
    width: 10px;
    height: 10px;
    border-bottom: 2px solid $secondary-color;
    border-right: 2px solid $secondary-color;
    transition: 0.5s;
    transition-delay: 0.5s;
  }

  &:hover {
    background: $secondary-color;
    color: $primary-color;
    box-shadow: 0 0 50px lighten($color: $secondary-color, $amount: 30);
    transition-delay: 0.5s;
  }

  &:hover:after {
    width: 100%;
    height: 100%;
    transition-delay: 0s;
  }

  &:nth-child(1) {
    filter: hue-rotate(270deg);
  }
  &:nth-child(3) {
    filter: hue-rotate(115deg);
  }
  &:nth-child(4) {
    filter: hue-rotate(270deg);
  }
}

.fix-the-size-bug {
  position: absolute;
  right: 300px;
  top: 560px;
}

.preview {
  display: inline-block;
  position: initial;
  width: 20%;
  margin-left: 20%;
  text-align: center;
}

.see-my-work2 {
  position: absolute;
  padding: 10px 30px;
  right: 300px;
  top: 35px;
  &.in-work-page {
    right: 310px;
  }
}

.see-my-work3 {
  position: absolute;
  padding: 10px 30px;
  right: 470px;
  top: 35px;

  &.in-about-me-page {
    right: 590px;
    width: 170px;
  }

  &.in-work-page-home {
    right: 500px;
    width: 130px;
    text-align: center;
  }
}

.looping-button {
  span {
    position: absolute;
    display: block;
  }

  span:nth-child(1) {
    top: 0;
    left: -100%;
    width: 100%;
    height: 2px;
    background: linear-gradient(90deg, transparent, $secondary-color);
    animation: loop1 1s linear infinite;
  }

  @keyframes loop1 {
    0% {
      left: -100%;
    }
    50%,
    100% {
      left: 100%;
    }
  }

  span:nth-child(2) {
    top: -100%;
    right: 0;
    width: 2px;
    height: 100%;
    background: linear-gradient(180deg, transparent, $secondary-color);
    animation: animate2 1s linear infinite;
    animation-delay: 0.25s;
  }

  @keyframes animate2 {
    0% {
      top: -100%;
    }
    50%,
    100% {
      top: 100%;
    }
  }

  span:nth-child(3) {
    bottom: 0;
    right: -100%;
    width: 100%;
    height: 2px;
    background: linear-gradient(270deg, transparent, $secondary-color);
    animation: animate3 1s linear infinite;
    animation-delay: 0.5s;
  }

  @keyframes animate3 {
    0% {
      right: -100%;
    }
    50%,
    100% {
      right: 100%;
    }
  }

  span:nth-child(4) {
    bottom: -100%;
    left: 0;
    width: 2px;
    height: 100%;
    background: linear-gradient(360deg, transparent, $secondary-color);
    animation: animate4 1s linear infinite;
    animation-delay: 0.75s;
  }

  @keyframes animate4 {
    0% {
      bottom: -100%;
    }
    50%,
    100% {
      bottom: 100%;
    }
  }
}

// Menu button
.menu-btn {
  position: absolute;
  z-index: 3;
  right: 35px;
  top: 35px;
  cursor: pointer;
  @include easeOut;

  .btn-line {
    width: 28px;
    height: 3px;
    margin: 0 0 5px 0;
    background: set-text-color($primary-color);
    @include easeOut;
  }

  //Rotate into x with menu lines
  &.close {
    transform: rotate(180deg);
    .btn-line {
      //line 1 -rotate
      &:nth-child(1) {
        transform: rotate(45deg) translate(5px, 5px);
      }

      //line 2 - Hide
      &:nth-child(2) {
        opacity: 0;
      }

      //line 3 -Rotate
      &:nth-child(3) {
        transform: rotate(-45deg) translate(6.5px, -6.5px);
      }
    }
  }
}

// menu overlay

.menu {
  position: fixed;
  top: 0;
  width: 100%;
  visibility: hidden;

  &.show {
    visibility: visible;
  }

  &-branding,
  &-nav {
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    justify-content: center;
    float: left;
    width: 50%;
    height: 100vh;
    overflow: hidden;
  }

  &-nav {
    margin: 0;
    padding: 0;
    background: rgba($color: darken($primary-color, 5), $alpha: 0.9);
    list-style: none;
    transform: translate3d(0, -100%, 0);
    @include easeOut;

    &.show {
      //slide from top
      transform: translate3d(0, 0, 0);
    }
  }

  // Branding Side
  &-branding {
    background: rgba($color: darken($primary-color, 5), $alpha: 0.9);
    transform: translate3d(0, 100%, 0);
    @include easeOut;

    &.show {
      //slide from bottom
      transform: translate3d(0, 0, 0);
    }

    .portrait {
      width: 250px;
      height: 250px;
      background: url("../img/portrait.jpg");
      border-radius: 50%;
      border: solid 3px $secondary-color;
    }
  }

  .nav-item {
    transform: translate3d(600px, 0, 0);
    @include easeOut;
    &.show {
      //slide from right
      transform: translate3d(0, 0, 0);
    }

    &.current > a {
      color: $secondary-color;
    }
  }

  .nav-link {
    display: inline-block;
    position: relative;
    font-size: 30px;
    text-transform: uppercase;
    padding: 1rem 0;
    font-weight: 300;
    color: set-text-color($primary-color);
    text-decoration: none;
    @include easeOut;

    &:hover {
      color: $secondary-color;
    }
  }
}

// delay each nav item slide by 0.1s
@for $x from 1 to 5 {
  .nav-item:nth-child(#{$x}) {
    transition-delay: $x * 0.1s;
  }
}
