.splide__slide {
  border: 5px solid $secondary-color;
  margin-top: 5px;
  margin-right: 27px !important;
  height: 162px;
  border-radius: 0.5rem;
  overflow: hidden;
  line-height: 1.5;
  animation: anim-glow 0.7s infinite alternate;
  animation-delay: 2s;
  animation-fill-mode: forwards;
  // animation-iteration-count: 3;
  transition: border-color 0.15s cubic-bezier(0.54, 0.01, 0.1, 1),
    background-color 0.15s cubic-bezier(0.54, 0.01, 0.1, 1);
}

@keyframes anim-glow {
  0% {
    box-shadow: 0 0 2px -2px $secondary-color;
  }
  100% {
    box-shadow: 0 0 5px lighten($color: $secondary-color, $amount: 30);
  }
}

.splide {
  margin-top: 15px;
}

.inside_home {
  &.splide {
    margin-top: 0px;
    padding-top: 0;
  }
}

.splide__track {
  margin-bottom: 10px;
  padding-bottom: 15px;
}
