@import "config";
@import "menu";

* {
  box-sizing: border-box;
}

body {
  @include background;
  background: $primary-color;
  color: set-text-color($primary-color);
  height: 100%;
  margin: 0;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  line-height: 1.5;
}

// Headings
h1,
h2,
h3 {
  margin: 0;
  font-weight: 400;

  &.lg-heading {
    font-size: 6rem;

    &.index-name {
      font-size: 5rem;
    }
  }

  &.sm-heading {
    margin-bottom: 2rem;
    padding: 0.2rem 1rem;
    background: rgba(lighten($color: $primary-color, $amount: 2), 0.5);
  }
}

.margin-bottom-4rem {
  margin-bottom: 4rem;
}

a {
  color: set-text-color($primary-color);
  text-decoration: none;
}

header {
  position: fixed;
  z-index: 2;
  width: 100%;
}

.text-secondary {
  color: $secondary-color;
}

main {
  padding: 4rem;
  // height: 100%;
  min-height: calc(100vh - 60px);

  &#home {
    overflow: hidden;
    h1 {
      margin-top: 2vh;
    }
    min-height: calc(10vh - 60px);
    padding-left: 4rem;
    padding-top: 4rem;
    padding-right: 4rem;
    padding-bottom: 0;
  }
}

.preview {
  display: inline-block;
  position: initial;
  width: 20%;
  margin-left: 20%;
  text-align: center;
}

.inline {
  display: inline;
}

.text-align-right {
  display: block;
  text-align: right;
}

@import "contactmodal";
@import "animatedbuttons";
@import "loopingbutton";
@import "splidestyle";
@import "aboutpage";
@import "workpage";
@import "mobilefooter";
@import "contactpage";
@import "textglow";
@import "mobile";
